# Скопируйте файл как config/accounts.toml и замените адреса.
# Пароли находятся только в .env и выбираются через password_env.

[[accounts]]
id = "mailru-01"
email = "mailru01@mail.ru"
provider = "mailru"
password_env = "MAILRU_01_PASSWORD"

[[accounts]]
id = "mailru-02"
email = "mailru02@mail.ru"
provider = "mailru"
password_env = "MAILRU_02_PASSWORD"

[[accounts]]
id = "mailru-03"
email = "mailru03@mail.ru"
provider = "mailru"
password_env = "MAILRU_03_PASSWORD"

[[accounts]]
id = "mailru-04"
email = "mailru04@mail.ru"
provider = "mailru"
password_env = "MAILRU_04_PASSWORD"

[[accounts]]
id = "mailru-05"
email = "mailru05@mail.ru"
provider = "mailru"
password_env = "MAILRU_05_PASSWORD"

[[accounts]]
id = "mailru-06"
email = "mailru06@mail.ru"
provider = "mailru"
password_env = "MAILRU_06_PASSWORD"

[[accounts]]
id = "mailru-07"
email = "mailru07@mail.ru"
provider = "mailru"
password_env = "MAILRU_07_PASSWORD"

[[accounts]]
id = "mailru-08"
email = "mailru08@mail.ru"
provider = "mailru"
password_env = "MAILRU_08_PASSWORD"

[[accounts]]
id = "mailru-09"
email = "mailru09@mail.ru"
provider = "mailru"
password_env = "MAILRU_09_PASSWORD"

[[accounts]]
id = "mailru-10"
email = "mailru10@mail.ru"
provider = "mailru"
password_env = "MAILRU_10_PASSWORD"

[[accounts]]
id = "gmail-01"
email = "gmail01@gmail.com"
provider = "gmail"
password_env = "GMAIL_01_PASSWORD"

[[accounts]]
id = "gmail-02"
email = "gmail02@gmail.com"
provider = "gmail"
password_env = "GMAIL_02_PASSWORD"

[[accounts]]
id = "gmail-03"
email = "gmail03@gmail.com"
provider = "gmail"
password_env = "GMAIL_03_PASSWORD"

[[accounts]]
id = "gmail-04"
email = "gmail04@gmail.com"
provider = "gmail"
password_env = "GMAIL_04_PASSWORD"

[[accounts]]
id = "gmail-05"
email = "gmail05@gmail.com"
provider = "gmail"
password_env = "GMAIL_05_PASSWORD"

