# Текущая конфигурация рассчитана на один ящик Mail.ru.
# Пароль внешнего приложения находится только в .env.

[[accounts]]
id = "mailru-01"
email = "mailru01@mail.ru"
provider = "mailru"
password_env = "MAILRU_01_PASSWORD"
